{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="home" id="home">
    <div class="home_container bd-container bd-grid">
        <div class="home_data">
            <span class="home_greetings">dumb fuck</span>

            <h1>Create</h1>

            <form action="" method="POST">
                {% for fm in form %}
                {% csrf_token %}
                <div class="row">
                    <label class="col text-center">{{fm.label}}</label>
                    <p class="col text-center">{{fm}}</p>
                </div>
                {% endfor %}
                <button type="submit">create</button>
            </form>

        </div>
    </div>
</section>

{% endblock %}