{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="home" id="home">
    <div class="home_container_admin bd-container bd-grid">
        <div class="home_data-admin">

            <h1>Amend Qualification</h1>

            <form action="" method="POST">
                {% for qualification in qualifications %}
                <div class="row">
                    <div class="qualification_data">
                        <h3 class="qualification_area-admin mt-3">{{ qualification.title }}</h3>

                        <div class="qualification_box">
                            <span class="qualification_work-admin col">
                                <i class="bx bx-briefcase-alt qualification_icon-admin"></i>
                                {{ qualification.from_where }}
                            </span>

                            <span class="qualification_work-admin col">
                                <i class="bx bx-calendar-alt qualification_icon"></i>
                                {{ qualification.completed_date|date:'M Y' }}
                            </span>
                            <br>

                            <a href="{% url 'update_qualification' qualification.id %}"
                                class="button button-light button-more col-6 me-2">Amend</a>

                            <a href="{% url 'delete_qualification' qualification.id %}"
                                class="button button-light button-more col-6">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </form>

        </div>
        <a href="{% url 'amend_entry' %}" class="button button-light button-more">Back to Amend
            Entry</a>
    </div>
</section>

{% endblock %}