{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="home" id="home">
    <div class="home_container bd-container bd-grid text-center">
        <div class="home_data">

            <h1>Are you sure you want to delete "{{item}}?</h1>
            <br>
            <br>
            <form action="{% url 'delete_experience' item.id %}" method="POST">
                {% csrf_token %}

                <a href="{% url 'amend_entry' %}">Cancel</a>

                <input type="submit" name="Confirm">

            </form>

        </div>
        <a href="{% url 'amend_experience' %}" class="button button-light button-more">Back to Profile
            Admin</a>
    </div>
</section>

{% endblock %}