/* ========== MEDIA QUERIES ========== */
@media screen and (min-width: 425px){
    .home_img img{
        width: 240px;
    }

    #back-to-top-btn{
        bottom: 25px;
        right: 25px;
}

@media screen and (min-width: 576px){
    .home_img img{
        width: 330px;
    }
    
    .home_container{
        margin-top: 0;
    }

    .about_container,
    .qualification_container,
    .portfolio_container{
        grid-template-columns: repeat(2,1fr);
    }

    .contact_form{
        width: 450px;
        justify-content: center;
    }
}

@media screen and (min-width: 768px){
    body{
        margin: 0;
    }

    #back-to-top-btn{
        bottom: 35px;
        right: 35px;
}

    .section{
        padding-top: 6rem;
    }

    .blue-line{
        margin-bottom: var(--mb-6);
    }

    .home_container{
        height: 100vh;
        grid-template-rows: max-content .5fr;
        align-content: flex-end;
    }

    .home_greeting{
        font-size: 1.25rem;
    }

    .home_name{
        font-size: 2.6rem;
    }

    .home_profession{
        font-size: 1.5rem;
    }

    .home_social{
        flex-direction: row;
        align-items: center;
    }

    .home_social-icon{
        margin-right: var(--mb-4);
        margin-bottom: 0;
    }

    .about_description{
        text-align: initial;
    }

    .about_img{
        width: 300px;
    }

    .qualification_box{
        display: flex;
        justify-content: space-between;
    }

    .portfolio_container{
        grid-template-columns: repeat(3,1fr);
    }

    .contact_form{
        width: auto;
    }

    .contact_inputs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem;
    }
}

@media screen and (min-width: 1024px){
    a.nav_item{
        text-decoration: none;
    }

    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }

    .nav{
        height: calc(var(--header-height));
    }

    .nav_list{
        display: flex;
    }

    .nav_item{
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }

    .nav_toggle{
        display: none;
    }

    .home_img img{
        width: 440px;
    }

    #back-to-top-btn{
        bottom: 50px;
        right: 50px;
    }

    .qualification_container{
        column-gap: 6rem;
    }
}