{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="home" id="home">
    <div class="home_container_admin bd-container bd-grid">
        <div class="home_data-admin">

            <h1 class="mb-4 text-center">Update Project</h1>

            <!-- from action with a POST method -->
            <form action="" method="POST">
                <!-- for loop to go through the form the list -->
                {% for fm in form %}
                {% csrf_token %}
                <div class="row">
                    <label class="col-md-6 col-sm-12 mb-1 text-sm-start text-md-end">{{fm.label}}</label>
                    <p class="col-md-6 col-sm-12 mb-2 text-sm-start text-md-start">{{fm}}</p>
                </div>
                {% endfor %}
                <div class="text-center">
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>

        <!-- send user back to the amend experience page -->
        <a href="{% url 'amend_project' %}" class="button button-light text-center button-more">Back to Amend
            Project</a>
    </div>
</section>

{% endblock %}